<a href="https://colab.research.google.com/github/alfafimel/IPWK2-PREP/blob/master/%22Moringa_Data_Science_Prep_W2_Independent_Project_2020_06_Elizabeth_JOSEPHINE_SQL_Notebook%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# loading the sql extension into our enc=vironment
%load_ext sql

# connecting to the in memory sqlite database
%sql sqlite://

'Connected: @None'

In [ ]:
# importing the required python libraries for this notebook
#
import pandas as pd

In [ ]:
# from a local csv file, we load the table to be in use
#
with open('GrandElectors_by_state.csv','r') as f:
  grandel = pd.read_csv(f, index_col=0, encoding='utf-8')

# then storing this tble n an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS grandel;
%sql PERSIST grandel;

 * sqlite://
Done.
 * sqlite://

'Persisted grandel'

In [ ]:
# from a local csv file, we load the table to be in use
#
with open('Population_by_state.csv','r') as f:
  popula = pd.read_csv(f, index_col=0, encoding='utf-8')

# then storing this tble n an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS popula;
%sql PERSIST popula;

 * sqlite://
Done.
 * sqlite://

'Persisted popula'

In [ ]:
# converting all the states to uppercase
%%sql
UPDATE grandel SET State = UPPER(State);

 * sqlite://
51 rows affected.

[]

In [ ]:
# joining the tables on the state key
%%sql
SELECT grandel.State
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
ORDER BY grandel.State

 * sqlite://
Done.

[('ALABAMA',),
 ('ALASKA',),
 ('ARIZONA',),
 ('ARKANSAS',),
 ('CALIFORNIA',),
 ('COLORADO',),
 ('CONNECTICUT',),
 ('DELAWARE',),
 ('DISTRICT OF COLUMBIA',),
 ('FLORIDA',),
 ('GEORGIA',),
 ('HAWAII',),
 ('IDAHO',),
 ('ILLINOIS',),
 ('INDIANA',),
 ('IOWA',),
 ('KANSAS',),
 ('KENTUCKY',),
 ('LOUISIANA',),
 ('MAINE',),
 ('MARYLAND',),
 ('MASSACHUSETTS',),
 ('MICHIGAN',),
 ('MINNESOTA',),
 ('MISSISSIPPI',),
 ('MISSOURI',),
 ('MONTANA',),
 ('NEBRASKA',),
 ('NEVADA',),
 ('NEW HAMPSHIRE',),
 ('NEW JERSEY',),
 ('NEW MEXICO',),
 ('NEW YORK',),
 ('NORTH CAROLINA',),
 ('NORTH DAKOTA',),
 ('OHIO',),
 ('OKLAHOMA',),
 ('OREGON',),
 ('PENNSYLVANIA',),
 ('RHODE ISLAND',),
 ('SOUTH CAROLINA',),
 ('SOUTH DAKOTA',),
 ('TENNESSEE',),
 ('TEXAS',),
 ('UTAH',),
 ('VERMONT',),
 ('VIRGINIA',),
 ('WASHINGTON',),
 ('WEST VIRGINIA',),
 ('WISCONSIN',),
 ('WYOMING',)]

In [ ]:
# changing the name of an element
%%sql
UPDATE grandel
SET State = 'DC'
WHERE State = "DISTRICT OF COLUMBIA";

 * sqlite://
1 rows affected.

[]

In [ ]:
# creating a new column ratio
%%sql
ALTER TABLE popula
ADD ratio int;

 * sqlite://
Done.

[]

In [ ]:
# To compute the ratio between the number of grand electors and the population. 
#Please create a new column with that ratio.
%%sql
SELECT ratio 
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
WHERE 
  ratio = (GrandElectors / Population)
  ORDER BY grandel.State DESC;

 * sqlite://
Done.

[]

In [ ]:
#To order the states by decreasing ratio of Grand Electors per capita. 
#That will make our priority list.
%%sql
SELECT ratio 
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State
WHERE 
  ratio = (GrandElectors / Population)
  ORDER BY ratio DESC;

 * sqlite://
Done.

[]

In [ ]:
# To compute the running total of Grand Electors in that sorted list.
%%sql
SELECT GrandElectors
SUM ("GrandElectors") OVER (ORDER BY 'ratio') AS RunningTotal
FROM grandel INNER JOIN popula
      ON grandel.State = popula.State;

In [ ]:
# Independently, to compute the half of the total of Grand Electors overall (in the whole country):

In [ ]:
# To filter our sorted list of states in order to keep only the (top) ones 
# enabling us to reach the computed threshold. (the other states can be ignored). 
# That is our target list.